mixin arrow  
    span.arrow   
        svg(width="48" height="28" viewBox="0 0 48 28" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M48 4.13638L44.6256 0.800049L23.9688 20.627L21.7656 18.5118L21.7776 18.5235L3.4248 0.907861L0 4.1938C5.0712 9.0634 19.2336 22.6568 23.9688 27.2001C27.4872 23.8256 24.0576 27.1164 48 4.13638Z" fill="#3D3D3D" fill-opacity="0.54")
