mixin gear(id)
    .gear(class=id)
        svg(width="300" height="315" viewBox="0 0 300 315" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(filter="url(#filter_"+id + ")")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M160.702 0C174.871 0 187.046 9.75652 189.712 23.2496L190.897 29.2496C195.556 52.8333 220.717 66.9169 244.113 59.0375L250.068 57.032C263.453 52.5241 278.256 57.8673 285.34 69.7646L296.041 87.7347C303.127 99.6325 300.498 114.732 289.778 123.717L285.011 127.712C266.273 143.417 266.273 171.584 285.011 187.288L289.778 191.283C300.498 200.268 303.127 215.368 296.041 227.265L285.341 245.235C278.256 257.133 263.453 262.476 250.066 257.968L244.114 255.962C220.717 248.081 195.556 262.165 190.897 285.75L189.712 291.75C187.046 305.244 174.871 315 160.702 315H139.298C125.129 315 112.954 305.244 110.288 291.752L109.102 285.748C104.442 262.165 79.2812 248.081 55.8848 255.962L49.9335 257.966C36.5476 262.476 21.7452 257.132 14.6598 245.234L3.95863 227.265C-3.12656 215.368 -0.498466 200.268 10.2213 191.283L14.9894 187.288C33.726 171.583 33.726 143.417 14.9894 127.713L10.2213 123.717C-0.498466 114.732 -3.12655 99.6327 3.95863 87.7353L14.6602 69.765C21.7454 57.8674 36.5474 52.5243 49.9331 57.0324L55.8861 59.0374C79.282 66.9169 104.442 52.8342 109.102 29.2511L110.288 23.2485C112.954 9.75598 125.127 0 139.298 0H160.702ZM150 202.5C174.852 202.5 195 182.353 195 157.5C195 132.647 174.852 112.5 150 112.5C125.146 112.5 105 132.647 105 157.5C105 182.353 125.146 202.5 150 202.5Z" fill="#EA6C43")
            defs
                filter( id="filter_"+id  x="0" y="0" width="305" height="319" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                    feFlood(flood-opacity="0" result="BackgroundImageFix")
                    feBlend(mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape")
                    feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha")
                    feOffset(dx="5" dy="4")
                    feGaussianBlur(stdDeviation="6.5")
                    feComposite(in2="hardAlpha" operator="arithmetic" k2="-1" k3="1")
                    feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
                    feBlend(mode="normal" in2="shape" result="effect1_innerShadow_237_41")