include ../../client/pug/components/doc.pug

+doc("../style/style.css")
    .block
        .content
            if error 
                h2 Пароль не верный!
            form(method="post")
                .form__line
                    .input
                        input(type="text", placeholder="GPT пароль", id="password_input", name="chatpassword")
                    button.btn( type="submit") Авторизоваться