include ../../../ui/ui
include components/commands_admin_doc
include components/commands_raw


+admin_doc(["admin/style/admin.css"], ["admin/js/moment.js", "ui/ui.js", "admin/js/admin.js"], host)
    .settings
        .settings__item.filter
            h3.settings__title Показать:
            - let filterContent = {};
            - filterContent.keys = ["all", "new", "in-progress", "completed"];
            - filterContent.values  = ["Все", "Новые", "В работе", "Завершенные"];
            +select(filterContent.keys, filterContent.values,"filter")(class= "settings__select filter")
        .settings__item.sort
            h3.settings__title Сортировать:
            - let sortContent = {};
            - sortContent.keys = ["date", "name", "stage"];
            - sortContent.values  = ["По дате", "По названию", "По стадии"];
            +select(sortContent.keys, sortContent.values,"sort")(class= "settings__select sort")
    .orders-grid
        for command in commands
            +commands_raw(command, host)

