include ../../client/pug/components/doc.pug

+doc("../style/style.css")
    .block
        .content
            if error 
                h2 Токен не верный!
            form(method="post")
                .form__line
                    .input
                        input(type="text", placeholder="Токен входа", id="token_input", name="token")
                    button.btn( type="submit") Авторизоваться